---
layout: default
title: Home
---
{% if page.url == "/" %}
  <section class="featured-posts">
    <div class="section-title">
      <h2><span>Designed by me</span></h2>
    </div>
    <div class="row">
      {% for post in site.posts %}
        {% if post.featured == true %}
          {% include featuredbox.html %}
        {% endif %}
     {% endfor %}
    </div>
  </section>
{% endif %}

<section class="recent-posts">
  <div class="section-title">
    <h2><span>Other keyboards</span></h2>
  </div>
  <div class="row listrecent">
    {% for post in site.posts %}
      {% if post.featured != true %}
        {% include postbox.html %}
      {% endif %}
    {% endfor %}
  </div>
</section>
