---
title: "Categories"
layout: default
permalink: "/categories.html"
---
<div class="row listrecent">
  <div class="section-title col-md-12 mt-4">
    <h2 id="split">Category <span class="text-capitalize">Split board</span></h2>
  </div>
  {% assign category = site.keyboards | where: "categories", "split" %}
  {% for keyboard in category %}
    {% include postbox.html %}
  {% endfor %}

  <div class="section-title col-md-12 mt-4">
    <h2 id="macro">Category <span class="text-capitalize">Macropad</span></h2>
  </div>
  {% assign category = site.keyboards | where: "categories", "macro" %}
  {% for keyboard in category %}
    {% include postbox.html %}
  {% endfor %}

  <div class="section-title col-md-12 mt-4">
    <h2 id="ergo">Category <span class="text-capitalize">ergo</span></h2>
  </div>
  {% assign category = site.keyboards | where: "categories", "ergo" %}
  {% for keyboard in category %}
    {% include postbox.html %}
  {% endfor %}

  <div class="section-title col-md-12 mt-4">
    <h2 id="ortho">Category <span class="text-capitalize">Ortholinear</span></h2>
  </div>
  {% assign category = site.keyboards | where: "categories", "ortho" %}
  {% for keyboard in category %}
    {% include postbox.html %}
  {% endfor %}

  <div class="section-title col-md-12 mt-4">
    <h2 id="40">Category <span class="text-capitalize">40%</span></h2>
  </div>
  {% assign category = site.keyboards | where: "categories", "40" %}
  {% for keyboard in category %}
    {% include postbox.html %}
  {% endfor %}

  <div class="section-title col-md-12 mt-4">
    <h2 id="30">Category <span class="text-capitalize">30%</span></h2>
  </div>
  {% assign category = site.keyboards | where: "categories", "30" %}
  {% for keyboard in category %}
    {% include postbox.html %}
  {% endfor %}
</div>
